<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.hermith.efficientgrinder2"
          android:versionCode="10"
          android:versionName="2.0.1">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="17"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.economy.EconomyMainActivity"
                android:label="@string/economy"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".activities.economy.EconomyLastRuns"
                android:label="@string/manieconlast">
        </activity>
        <activity
                android:name=".activities.economy.EconomyCountdown"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="@string/manieconcount">
        </activity>
        <activity
                android:name=".activities.economy.EconomyResult"
                android:label="@string/manieconres">
        </activity>
        <activity
                android:name=".activities.efficiency.EfficiencyMainActivity"
                android:label="@string/efficiency"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".activities.efficiency.EfficiencyLastRuns"
                android:label="@string/manieffilast">
        </activity>
        <activity
                android:name=".activities.efficiency.EfficiencyCountdown"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="@string/maniefficount">
        </activity>
        <activity
                android:name=".activities.efficiency.EfficiencyResult"
                android:label="@string/manieffires">
        </activity>
        <activity
                android:name=".activities.Preferences"
                android:label="@string/preferences">
        </activity>
        <activity
                android:name=".activities.TimerMainActivity"
                android:label="@string/timer">
        </activity>
    </application>

</manifest>